*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background:linear-gradient(0deg,#3bc500b5,#75bfff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 90%;
    max-width: 470px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 40px 35px;
    margin: 20px auto 0;
}

.search{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form{
    width: 100%;
}

.search input{
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 18px;
    flex : 1;
    margin-right: 10px;
}

.search input::placeholder{
    color: #00000082;
}

.search button{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    color: #fff;
    cursor: pointer;
}

.search button img{
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.weather-icon{
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
}

.Temperature{
    font-size: 85px;
    font-weight: 600;
    color: #fff;
    margin-bottom: none;

}

.Location{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-top: 15px;
    margin-bottom: none;
}

.Condition{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-top: none;
}

.high-low{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}

